sudo: required
language: java
services:
- docker
before_install:
- mkdir -p /tmp/build $HOME/.m2
- docker pull qcifengineering/redbox-builder
- docker run -v /tmp/build:/build -e "CLONEPATH=https://github.com/redbox-mint/mint-build-distro.git"
  qcifengineering/redbox-builder
cache:
  directories:
  - $HOME/.m2
install: true
script: true
after_success:
- docker run -v /tmp/build:/build -v $HOME/.m2:/m2_repo -e "SONATYPE_USERNAME=$SONATYPE_USERNAME" -e "SONATYPE_PASSWORD=$SONATYPE_PASSWORD"
  qcifengineering/redbox-builder /bin/bash -c "cd build/src;mvn -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn --settings /apache-maven-2.2.1/conf/settings.xml
  -Dmaven.repo.local=/m2_repo -DskipTests=true -Pbuild-package deploy | grep -v 'CHECKSUM.*'| grep -v 'downloaded.*' | grep -v 'Copying.*'| grep -v '\[INFO\].*'"
env:
  global:
  - secure: Bf72UAOXTC58PuiSU8JxWsEqUb+IcoL6c6a2NJCkTl1Uu1QKMueXITuNW2Db09usUxHipixfHcO49IpRfhrqmbKdlYcPZ8t1hn1Fg6Qsp2iCH0QE0D3+AgUXaIPzIn/B8i3aS5y0onDWTdQnlNHbRbyjie67A8dd83FZMQ5+T6hwy1AWsGgH2yjrPjMDLAHxZFzYlQa0AMvWwxLAG6gn1U++uWyFYjZHvX5w9FG5HKnFq/hwdJCMBWuVWPfISBIUvlM/eFIuCnW4teJcDpzOi4ZQWFJeqkxRhJGMLFeKCNqTBzYyqefdB+bS1j3KpWtaDZQmrKrGkbWUAUT59nFw9tLi1kmMQXgt0KwQspJBPn4eiAVZutefCS/Z9vSln94fAPtyeiHqDvtaCvebQ3bem9EBZXiOw+QVk5OLA/gSE5ic4V7s+0NBrM+atqQmwPe2FfNixOW/+d0Tz7NRARQqNpGr0RC6gxdrXYIHRmjn3TE9pqG+Re2l4X6JeKweuBR14fstMxBd7KsNVW1L6TQTO5b2V1wdZ7GOIKmTD3ejhfQ2OVDVsQFaWjL+2QkqRnsW1pLPPoP8bgkrqxwhbDCXpGTV77lX8jtwI0Njm5waeruH7h9+VDpmQjS3JaBGzKpaXDJ6WHnsAIRHfz2T0j8LNJ4hD4gX942570Pc2pkIFAA=
  - secure: eLEUkbhlIrTtAdxBE+cZR5fO9IkNPGkgI08+jry0mwgmla+1CQSRlG5edmBVZq1Cy+rX2MkQkfl6BaT7NGMs0hemGBOEHMH6sJGM6FEgGuysDzjI0UXUPtgd7aQhcnwE7s5PfUKJXU0tWa5S8ySzQBjujZs8SceIwdfIjwQ06xY/YyGxSceumKwQOIHM5Y+VtMy/wMCvQWlw1KbMf3aUG37qeaH2UA6iIW2hJRjupuEsNdvR3dKmlz9/BBwVD+u9aPHa4S4PnqoiBY9tgeALVUcB8GAzcPn2BGfcnW2+QiFhTkwnPp1xvz62PqfiRMQFG1xc9GD/1z8pScGykigHwwQOTMpJvabjH3fi5mBZqk02jGM6klu0WRDaDS6cYMksXKeAI7PzIbLxO6U+v2AmugnIhP4KXansmOY/1d1TNn88iAopa+kVh89Rfk/EmFG+X6C/LqFl0pVr4eApjxBQxZRPMKUku08czjwiNMiEaDyFYEjw+UTnuBM1Dnpqs1chfNumnwbLYuHNjAmSdddjiCDH7ZMIBpzxl6MDZHZRp6MfQTsGbQuSjJwyXMHCcUhVgOFiRQaXG0Xml/69D9NBhW1Wjplw90prNTaL739sTKxk+rsiFkptMDSGLPqfRfgsbZVy8UrCQYYNd1fNLkBxThzUCVlQ12RbwWtX0qiyv/c=
notifications:
  webhooks:
    urls:
      - http://dev.redboxresearchdata.com.au/hooks/mintdocker
    on_success: always
    on_failure: never
    on_start: never
